body{
background-color: black
;}
}
.rss-box {
	 width: 100%;
	 background-color: #000000;
    border: none;
}
.rss-items {
	margin-top:0px;
	padding:0em; 0em;
	margin-left:0px;
	color:green;
	border-bottom: none;
}
p.rss-title {padding:0em;}
     .rss-title {font-size: 18px;
       font-weight: bold;
       color: green;
       margin-botom: 15px;
       text-align: center;
     }
     
.rss-item  {
  font-family: small verdana, tahoma, "Bitstream Vera Sans", "Trebuchet MS", "Lucida Grande", lucida, helvetica, sans-serif;
  font-size: 16px;
  font-weight : normal;
  color: #FFFFFF;
  list-style:none;
  padding-bottom:1em;
  margin-bottom: 20px;
border-bottom: 1px solid grey;
}

.rss-item a {
	text-decoration : none;
	color: #39ff14;
	font-size: 18px;
	font-weight: normal;
	border-bottom: none;
	font-family:small verdana, tahoma, "Bitstream Vera Sans", "Trebuchet MS", "Lucida Grande", lucida, helvetica, sans-serif;
	margin: 0;
     }
	
.rss-item a:visited {
	color:white;
}

.rss-date {
	font-size: 12px;
	font-style: italic;
	color: hotpink;
        border: none;
  margin-bottom: 5px;
     }
     .rss-item a::after{
       display: none;
     }
     
     .rss-item::after{
       content:"Powered By: The News Collectors";
         font-size: 10px;
         font-style: italic;
         color: grey;
         display: block;
         margin-top: 8px;
     }
  
